////////////////////
/////Variables/////
//////////////////
$line-color: #ABB7C5
$red: #D0021B
$brand-blue: #0070D2
$card-border: #E0E5EE
$card-background: #F4F6F9

///////////////////////
/////Media Breaks/////
/////////////////////
$break-small: 680px
$break-medium: 1000px
$break-large: 1260px

// Supported Size Ranges:
// * handhelds, except-handhelds
// * small-screens, except-small-screens, to-small-screens, above-small-screens
// * medium-screens, except-medium-screens, above-medium-screens
// * large-screens, except-large-screens
// Use:
// @include media(handhelds, large-screens)

@mixin media($sizes...)

	@each $size in $sizes
		@if $size == handhelds
			@media only screen and (max-width: $break-small - 1)
				@content

		@else if $size == except-handhelds
			@media only screen and (min-width: $break-small)
				@content

		@else if $size == small-screens
			@media only screen and (min-width: $break-small) and (max-width: $break-medium - 1)
				@content

		@else if $size == except-small-screens
			@media only screen and (max-width: $break-small - 1)
				@content
			@media only screen and (min-width: $break-medium)
				@content

		@else if $size == to-small-screens
			@media only screen and (max-width: $break-medium - 1)
				@content

		@else if $size == above-small-screens
			@media only screen and (min-width: $break-medium)
				@content

		@else if $size == medium-screens
			@media only screen and (min-width: $break-medium) and (max-width: $break-large - 1)
				@content

		@else if $size == except-medium-screens
			@media only screen and (max-width: $break-medium - 1)
				@content
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == to-medium-screens
			@media only screen and (max-width: $break-large - 1)
				@content

		@else if $size == above-medium-screens
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == large-screens
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == except-large-screens
			@media only screen and (max-width: $break-large - 1)
				@content

//////////////////////////////
/////Desktop App Classes/////
////////////////////////////
.desktop
	height: 100%
	min-width: 1200px

.desktopBody
	background: url('../images/desktop/desktop-background.png') no-repeat
	background-size: cover
	height: 100%
	padding: 16px 16px 20px 20px

.HeaderImage
	img
		width: 100%

/////////////////
/////Wealth/////
///////////////
.home
	display: flex
	justify-content: space-between

	img
		width: 100%

	.left
		width: 70%

		.flex
			display: flex
			justify-content: space-between
			margin-top: 30px

		.sub
			width: 49%

	.right
		width: 28%

.account
	img
		width: 100%

	.flex
		display: flex
		margin-top: 16px
		justify-content: space-between
	.left
		width: 70%
	
	.right
		width: 29%

.modal-background