.desktop {
  height: 100%;
  min-width: 1200px;
    min-width-background-color: #AEC4DD; }

.desktopBody {
  top: 130px;
  position: relative;
  min-height: calc(100% - 130px);
  background: url("../images/desktop/desktop-background.png") no-repeat;
  background-size: cover;
  padding: 16px 16px 20px 20px; }

.desktopBody.noTabs {
  top: 90px;
  min-height: calc(100% - 90px); }

.HeaderImage img {
  width: 100%; }

.icon-color-override svg {
  fill: #fff; }

.icon-override-account svg {
  fill: #706e6b; }

.slds-icon_container.icon-override-account .slds-icon_container {
  background-color: transparent; }

.home {
  display: flex;
  justify-content: space-between; }
  .home img {
    width: 100%; }
  .home .left {
    width: 70%; }
    .home .left .flex {
      display: flex;
      justify-content: space-between;
      margin-top: 30px; }
    .home .left .sub {
      width: 49%; }
  .home .right {
    width: 28%; }

.account img {
  width: 100%; }

.account .flex {
  display: flex;
  margin-top: 16px;
  justify-content: space-between; }

.account .left {
  width: 70%; }

.account .right {
  width: 29%; }

.tearsheet .slds-modal__container {
  max-width: 47rem;
  width: 65%; }

.client-card {
  background: #ffffff;
  border-radius: 4px;
  padding: 4px 1px; }

.timeline {
  padding: 8px; }

.accountPage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%; }
  .accountPage .one-third {
    width: 24%; }
  .accountPage .two-third {
    width: 50%; }
  .accountPage .three-third {
    width: 24%; }
    .accountPage .three-third img {
      cursor: pointer; }

.dch {
  display: flex;
  justify-content: space-between; }
  .dch .left {
    width: 25%;
    background: #ffffff;
    border-radius: 4px;
    padding: 24px;
    border: 1px solid #DDDBDA; }
  .dch .right {
    width: 74%;
    position: relative;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #DDDBDA; }
  .dch .fade-appear {
    opacity: 0;
    index: 1; }
  .dch .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out; }

.dch-tabs {
  background: #F3F2F2; }
  .dch-tabs .open-tab {
    background: #ffffff;
    padding: 12px 18px;
    display: inline-block; }
  .dch-tabs img {
    display: block; }

.dch-footer {
  display: flex;
  width: 100%;
  padding: 12px 16px;
  justify-content: space-between;
  background: #F3F2F2;
  border-top: 1px solid #E5E3E3;
  position: absolute;
  bottom: 0; }

.dch-body {
  height: 75%;
  background: url("../images/desktop/dch-background.png") no-repeat;
  background-size: cover; }

.dch-questions {
  position: relative;
  top: 10%;
  padding: 0 30px;
  background-image: none;
  opacity: 0;
  transform: translateY(10%); }
  .dch-questions img {
    width: 100%; }

.dch-einstein {
  position: relative;
  top: 10%;
  background-image: none; }
  .dch-einstein img {
    width: 75%;
    margin: 0 auto;
    display: block; }

.dch-summary {
  display: flex;
  justify-content: space-between;
  padding: 12px; }
  .dch-summary .sub-left {
    width: 60%; }
  .dch-summary .sub-right {
    width: 38%; }

.desktop.analytics img {
  width: 100%;
  max-width: inherit; }
