.desktop {
  height: 100%;
  min-width: 1200px; }

.desktopBody {
  background: url("../images/desktop/desktop-background.png") no-repeat;
  background-size: cover;
  height: 100%;
  padding: 16px 16px 20px 20px; }

.HeaderImage img {
  width: 100%; }

.home {
  display: flex;
  justify-content: space-between; }
  .home img {
    width: 100%; }
  .home .left {
    width: 70%; }
    .home .left .flex {
      display: flex;
      justify-content: space-between;
      margin-top: 30px; }
    .home .left .sub {
      width: 49%; }
  .home .right {
    width: 28%; }

.account img {
  width: 100%; }

.account .flex {
  display: flex;
  margin-top: 16px;
  justify-content: space-between; }

.account .left {
  width: 70%; }

.account .right {
  width: 29%; }

.client-card {
  background: #ffffff;
  border-radius: 4px;
  padding: 4px 1px; }
