.mobileContainer-inner {
  width: 389px;
  height: 690px; }

.mobile-frame {
  background: #263238;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0; }

.mobileContainer {
  width: 465px;
  height: 923px;
  overflow-x: scroll;
  position: relative;
  background-image: url("../images/iphone-outline.png");
  background-repeat: no-repeat; }

.mobileContainer-inner {
  background: white;
  position: absolute;
  top: 119px;
  right: 40px;
  border-radius: 3px;
  overflow: hidden; }

.chat-response-option {
  border: 1px solid #0070D2;
  border-radius: 2rem;
  padding: .5rem 1rem;
  color: #0070D2;
  margin-left: 1rem;
  margin-top: 1rem; }

.imessageApp {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

.toolbar-bottom {
  background-image: url("../images/iMessage-toolbar-bottom.png");
  width: 100%;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0; }

.chat-window {
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-bottom: 4rem; }
  .chat-window .hidden {
    opacity: 0;
    transform: translateY(2rem) scale(0.8); }
  .chat-window .hidden-response-options {
    opacity: 0; }

.chat-window::-webkit-scrollbar {
  display: none; }

.ab-scheduler {
  border: 1px solid #ccc;
  border-radius: .5rem;
  margin-top: 1.5rem; }
  .ab-scheduler .content {
    padding: .5rem; }
    .ab-scheduler .content button {
      width: 100%;
      margin: .5rem 0 .5rem;
      padding: .5rem; }
  .ab-scheduler .header {
    background: #FAFAF9;
    border-radius: .5rem .5rem 0 0;
    padding: .75rem;
    text-align: center; }
    .ab-scheduler .header .heading-title {
      font-size: 1rem;
      font-weight: bold; }
    .ab-scheduler .header .time-zone {
      display: block;
      text-align: center; }

.chat-banker-info-image {
  background-image: url("../images/chat-andrew-collins-banker.png");
  width: 100%;
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1.5rem; }

.chat-cal-event-info {
  background-image: url("../images/chat-cal-event-info.png");
  width: 100%;
  height: 332px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1.5rem; }
