
.dev-only-container
  width: 100%
  height: 100%
  background-color: #eee
  padding: 2rem


.timeline-container
  margin: 0 auto
  background: #fff
  border-radius: .25rem
  border: solid 1px #ccc
  min-height: 300px
  max-width: 920px
  min-width: 300px
  overflow: scroll

  .header
    padding: .5rem .75rem
    border-bottom: 1px solid #DDDBDA

    h1
      color: #2B2826
      font-size: 18px
      font-weight: bold
      line-height: 2rem

  .time-pane

    .dates
      padding: .25rem 0
      border-bottom: 1px solid #DDDBDA
      opacity: 0

      span
        display:block
        padding: 0 .5rem
        color: #54698D
        font-size: 11px

    .visualizer
      background-color: #F9FDFF
      height: 55px
      width: 100%
      border-bottom: 1px solid #DDDBDA
      box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.2)
      position: relative
      overflow: hidden;
      height: 0

      .scrubber-wrap
        position: absolute
        left: 50%
        height: 100%
        width: 16px
        z-index: 2

        .scrubber-line
          background-color: #C23934
          height: 100%
          width: 2px
          margin: 0 auto

        .scrubber-triangle
          position: absolute;
          bottom: -4px;
          left: 0;
          right: 0;
          margin: 0 auto;

          svg
            stroke: #C23934
            stroke-width: 2px
            fill: #FFC7C5

      .v-events-wrap
        width: 100%

        .v-group
          margin: 0 auto
          padding-bottom: .125rem

          .v-month 
            min-width: 10px
            max-width: 20px
            width: 100%
            margin: 0 .15rem

            .v-event
              background-color: #98C4F3
              height: 3px
              width: 100%
              border-radius: 4rem
              margin: .125rem 0

